# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages used in Data Science
- Perform airthmatic equations
- Create mark down cells
- Commonly used libraries by Data Scientists
- Create a table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebooks            |
| RStudio                      |
| Apache Zeppelin              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author

Vrushali Amberkar